In [74]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [75]:
data = pd.read_csv('/content/drive/MyDrive/Datasets_PROJECTS/DataSets/vgsales.csv')

In [76]:
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [77]:
rows , cols = data.shape
print("Num of rows:",rows)
print("Num of cols:",cols)

Num of rows: 16598
Num of cols: 11

# Preprocessing Data

In [78]:
data.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [79]:
data['Year'] = data['Year'].fillna(data['Year'].mean())

In [80]:
data = data.dropna()

In [81]:
data.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16540 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16540 non-null  int64
 1   Name          16540 non-null  object
 2   Platform      16540 non-null  object
 3   Year          16540 non-null  float64
 4   Genre         16540 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16540 non-null  float64
 7   EU_Sales      16540 non-null  float64
 8   JP_Sales      16540 non-null  float64
 9   Other_Sales   16540 non-null  float64
 10  Global_Sales  16540 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.5+ MB

In [83]:
# data = data.drop(['NA_Sales','EU_Sales',"JP_Sales","Other_Sales"],axis = 1)

In [84]:
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [85]:
data['Publisher'].value_counts()

Electronic Arts                 1351
Activision                       975
Namco Bandai Games               932
Ubisoft                          921
Konami Digital Entertainment     832
                                ...
Warp                               1
New                                1
Elite                              1
Evolution Games                    1
UIG Entertainment                  1
Name: Publisher, Length: 578, dtype: int64

In [86]:
count = data['Publisher'].value_counts()
data['Publisher'] = data['Publisher'].apply(lambda x : 'Small Publisher' if count[x] < 50 else x )

In [87]:
data['Publisher'].value_counts()

Small Publisher                           3342
Electronic Arts                           1351
Activision                                 975
Namco Bandai Games                         932
Ubisoft                                    921
Konami Digital Entertainment               832
THQ                                        715
Nintendo                                   703
Sony Computer Entertainment                683
Sega                                       639
Take-Two Interactive                       413
Capcom                                     381
Atari                                      363
Tecmo Koei                                 338
Square Enix                                233
Warner Bros. Interactive Entertainment     232
Disney Interactive Studios                 218
Unknown                                    203
Midway Games                               198
Eidos Interactive                          198
505 Games                                  192
Microsoft Game Studios                     189
D3Publisher                                184
Acclaim Entertainment                      184
Vivendi Games                              164
Codemasters                                152
Idea Factory                               129
Deep Silver                                122
Nippon Ichi Software                       105
Zoo Digital Publishing                     104
Majesco Entertainment                       92
LucasArts                                   90
Rising Star Games                           86
Hudson Soft                                 81
Banpresto                                   73
Crave Entertainment                         71
Bethesda Softworks                          71
Atlus                                       67
Infogrames                                  62
Virgin Interactive                          62
Ignition Entertainment                      61
5pb                                         61
Focus Home Interactive                      58
Marvelous Interactive                       56
SquareSoft                                  52
Empire Interactive                          52
Kadokawa Shoten                             50
Name: Publisher, dtype: int64

In [88]:
data['Genre'].unique()

array(['Sports', 'Platform', 'Racing', 'Role-Playing', 'Puzzle', 'Misc',
       'Shooter', 'Simulation', 'Action', 'Fighting', 'Adventure',
       'Strategy'], dtype=object)

In [89]:
data['Platform'].unique()

array(['Wii', 'NES', 'GB', 'DS', 'X360', 'PS3', 'PS2', 'SNES', 'GBA',
       '3DS', 'PS4', 'N64', 'PS', 'XB', 'PC', '2600', 'PSP', 'XOne', 'GC',
       'WiiU', 'GEN', 'DC', 'PSV', 'SAT', 'SCD', 'WS', 'NG', 'TG16',
       '3DO', 'GG', 'PCFX'], dtype=object)

# Encoding Data

In [90]:
data = data.drop(['Name'],axis = 1)

In [91]:
from sklearn.preprocessing import LabelEncoder

In [92]:
le = LabelEncoder()
data['Genre']=le.fit_transform(data['Genre'])

In [93]:
data.head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii,2006.0,10,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,NES,1985.0,4,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Wii,2008.0,6,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii,2009.0,10,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,GB,1996.0,7,Nintendo,11.27,8.89,10.22,1.00,31.37

In [94]:
one_hot = pd.get_dummies(data['Platform'])
data = data.join(one_hot).drop(['Platform'],axis = 1)

In [95]:
one_hot = pd.get_dummies(data['Publisher'])
data = data.join(one_hot).drop(['Publisher'],axis = 1)

In [96]:
data.shape

(16540, 86)

# Spliting Data

In [97]:
train = data.drop(['Global_Sales'],axis = 1)
test = data['Global_Sales']

In [101]:
from sklearn.preprocessing import StandardScaler
Ss = StandardScaler()
Ss.fit_transform(train)

array([[-1.7311547 , -0.07006962,  1.34689884, ..., -0.10007325,
        -0.11927341, -0.07954605],
       [-1.73094595, -3.69816165, -0.2474027 , ..., -0.10007325,
        -0.11927341, -0.07954605],
       [-1.73073721,  0.27546295,  0.28403115, ..., -0.10007325,
        -0.11927341, -0.07954605],
       ...,
       [ 1.73336837,  0.27546295,  0.28403115, ..., -0.10007325,
        -0.11927341, -0.07954605],
       [ 1.73357711,  0.62099552,  0.01831423, ..., -0.10007325,
        -0.11927341, -0.07954605],
       [ 1.73378586, -0.58836848, -0.2474027 , ..., -0.10007325,
        -0.11927341, -0.07954605]])

# Feeding Model

In [102]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(train, test, test_size= 0.20, shuffle= True, random_state= 42)

In [106]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
LR = LinearRegression()
LR.fit(x_train,y_train)
pred = LR.predict(x_test)
model_score = LR.score(x_test,y_test)

print(r2_score(y_test,pred))

0.9999936443748031

In [104]:
x = pd.DataFrame(y_test)
x['Prediction'] = pred

In [105]:
x

       Global_Sales  Prediction
3945           0.51    0.509828
1035           1.72    1.729386
12102          0.07    0.070856
9272           0.14    0.140383
7822           0.19    0.191180
...             ...         ...
9276           0.14    0.140220
8926           0.15    0.160518
5679           0.32    0.319872
5001           0.38    0.390635
3435           0.59    0.590060

[3308 rows x 2 columns]

In [110]:
y = pd.DataFrame(x_train)
y['Global_Sales'] = y_train

In [108]:
z = pd.DataFrame(x_test)

In [111]:
x.to_csv('VGS_Answer.csv')
y.to_csv('VGS_train.csv')
z.to_csv('VGS_test.csv')